@media screen and (max-width: 720px) {
  .logo-content {
    height: 6vh;
  }
  .spacer {
    display: none;
  }

  .career-logos-content {
    flex-direction: column;
    align-items: center;
  }

  .logo-content {
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    width: 50%;
    padding: 20px;
    /* justify-self: center; */
    /* flex-direction: column; */
    /* align-items: center; */
  }
/* 
  .logo {
    width: 50%;
  } */
}
