:root {
  --bg-img: url("../img/p4.jpg");
  --bg-color: rgba(220, 225, 231, 0.5);
  --bg-side-color: rgba(220, 225, 231, 0.5);
  --primary-text-color: #222;
  --secondary-text-color: #444;
  --sun-visible: visible;
  --moon-visible: hidden;
  --sun-display: none;
  --moon-display: absolute;
}

.dark-mode {
  /* --bg-img: url("img/p6\ dark.jpg"); */
  --bg-color: rgba(20, 21, 22, 0.8);
  --bg-side-color: rgba(50, 53, 54, 0.8);
  --primary-text-color: #fff;
  --secondary-text-color: #ddd;
  --sun-visible: hidden;
  --moon-visible: visible;
  --sun-display: absolute;
  --moon-display: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: var(--bg-img);
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30px;
  background-color: var(--bg-side-color);
  box-shadow: 4px 3px 8px 1px #222;
  border: #222;
  border-radius: 11px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

  .home-icon {
    margin: 5px;
    font-size: 20px;
  }

  .sun {
    height: 25px;
    width: 25px;
    margin: 5px;
    /* top: 0;
    left: 0; */
    display: var(--sun-display);
    /* visibility: visible; */
    /* var(--sun-visible); */
    z-index: 1;
  }

    .sun:hover {
      transform: rotate(300deg);
      transition-property: transform;
      transition-duration: 1s;
    }

    .sun:active {
      transform: rotate(360deg);
      transition-property: transform;
      transition-duration: 500ms;
    }

  .moon {
    height: 20px;
    width: 20px;
    margin: 5px;
    /* top: 30;
    left: 30; */
    display: var(--moon-display);
    /* visibility: visible; */
    /* var(--moon-visible); */
    /* z-index: 2; */
  }

    .moon:hover {
      transform: rotate(300deg);
      transition-property: transform;
      transition-duration: 1s;
    }

    .moon:active {
      transform: rotate(360deg);
      transition-property: transform;
      transition-duration: 500ms;
    }

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 90vh;
  width: 93vw;
  background-color: var(--bg-color);
  box-shadow: 4px 3px 8px 1px #222;
  border: #222;
  border-radius: 11px;
  color: var(--primary-text-color);
}

.title-content {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.title-image {
  height: 500px;
  width: 700px;
}

p {
  color: var(--secondary-text-color);
  margin: 20px 20px;
}

h1 {
  font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
  margin: 20px 20px;
}
