
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: var(--bg-img);
}

.main-content {
  margin-left: 70px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 90vh;
  width: 93vw;
  background-color: var(--bg-color);
  box-shadow: 4px 3px 8px 1px #222;
  border: #222;
  border-radius: 11px;
  color: var(--primary-text-color);
}

.icon:hover {
  font-size: 23px;
}

.icon {
  color: var(--icon-color);
}

p {
  color: var(--secondary-text-color);
  margin: 20px 20px;
}
