@media screen and (max-width: 1024px) {

    .main-content {
        margin-left: 5px;
        margin-right: 5px;
    }

    .content {
        width: 97vw;
    }
}

@media screen and (max-width: 720px) {

    .content {
        width: 94vw;
    }
}