
.sidebar {
  position: fixed;
  display: grid;
  /* align-items: center; */
  /* flex-direction: column; */
  grid-gap: 10px;
  width: 30px;
  background-color: var(--bg-side-color);
  box-shadow: 4px 3px 8px 1px #222;
  border: #222;
  border-radius: 11px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

.sidebar .sidebar-icon {
  font-size: 22px;
  margin-top: 5px;
  justify-self: center;
}

.sidebar .sun {
  font-size: 22px;
  display: var(--sun-display);
}

.sidebar .sun:hover {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 1s;
}

.sidebar .sun:active {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 500ms;
}

.sidebar .moon {
  font-size: 22px;
  display: var(--moon-display);
}

.sidebar .moon:hover {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 1s;
}

.sidebar .moon:active {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 500ms;
}
