@media screen and (max-width: 720px) {
  .hero-content {
    flex-direction: column-reverse;
  }

  .title {
    font-size: 44px;
  }

  .title-image-content {
    height: 100px;
  }

  .title-image {
    margin-top: 30px;
  }

  .title-image-dot {
    height: 8%;
    width: 68%;
    margin-top: 25%;
    filter: blur(200px);
  }

  .title-icon {
    font-size: 23px;
    color: rgb(56, 56, 238);
  }
}
