.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  padding: 20px;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  font-family: Inter;
  font-family: 'Andika', sans-serif;
  font-style: bold;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.01em;
  color: #3366e6;
  text-shadow: 0px 0px 15px rgba(65, 113, 236, 0.2);
  transition: text-shadow 500ms;
}

.title:hover {
  text-shadow: 10px 0px 15px rgba(65, 113, 236, 0.4);
  transition: text-shadow 500ms;
}

.title-image-content {
  display: flex;
  flex-direction: column;
}

.title-image {
  justify-self: center;
  height: 100%;
  width: 100%;
  border-width: 10px;
  border: #6b8feb;
  border-radius: 316px;
  z-index: 1;
}

.title-image-dot {
  height: 16%;
  width: 53%;
  margin-top: 18%;
  border-radius: 80%;
  background: #a0b6ef;
  filter: blur(200px);
  position: absolute;
  z-index: 0;
}

.icon-content {
  display: flex;
  align-items: center;
}

.title-icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.title-coding-icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin: 5px;
}

.title-social-icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.title-icon {
  font-size: 22px;
  margin: 5px;
}

.icon-link {
  text-decoration: none;
  margin: 10px;
}

.icon-desc {
  font-size: 0px;
  transition: font-size 300ms;
  margin: 0px;
}

.icon-link:hover .icon-desc {
  font-size: 15px;
  transition: font-size 300ms;
}

.icon-link:hover .title-icon {
  font-size: 23px;
  color: rgb(58, 58, 240);
}
