
.title-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.title-text-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-name {
  font-size: 40px;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 20px 20px;
  text-align: center;
}

.title-icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;  
}

.title-coding-icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  margin: 5px;
}

.title-social-icon-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.title-icon {
  font-size: 22px;
  margin: 10px;
}

.title-image-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-image {
  height: 80%;
  width: 80%;
  text-align: center;
}
