@media screen and (max-width: 1024px) {
  .title-content {
    flex-direction: column;
    align-items: center;
  }

  .title-text-content {
    width: 100%;
  }

  .title-name {
    font-size: 34px;
    margin: 20px;
  }

  .title-icon {
    font-size: 25px;
  }

  .title-image-content {
    margin-top: 20px;
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 720px) {
  .title-name {
    font-size: 25px;
    margin: 10px;
  }

  .title-icon {
    font-size: 23px;
  }

  .title-image-content {
    margin-top: 20px;
    width: 80%;
    /* height: 80%; */
  }
}

@media screen and (max-width: 320px) {
  .title-name {
    font-size: 21px;
  }

  .title-icon {
    font-size: 20px;
  }  
}


@media screen and (max-width: 280px) {
  .title-name {
    font-size: 20px;
    margin: 10px;
  }

  .title-icon {
    font-size: 20px;
    margin: 8px;
  }  
}

@media screen and (max-height: 830px) {
 
  .title-image-content {
    height: 50%;
  }
}
